Sources/TranscodificaCelle/TranscodificaCelle/obj/
Sources/TranscodificaCelle/.vs/
Sources/Db/Data/atm.STATI_Meta.sdcs
Sources/Db/Data/atm.TIPI_COMANDO_Meta.sdcs
Sources/Db/Data/atm.TIPI_EVENTO_Meta.sdcs
Sources/Db/Data/atm.TIPI_RESET_Meta.sdcs
Sources/Db/Data/dbo.DB_REGISTRY_Meta.sdcs
Sources/Db/Data/dbo.NAZIONI_CODICI_ISO_Meta.sdcs
Sources/Db/Data/dbo.PERCORSI_Meta.sdcs
Sources/Db/Data/dbo.TIPI_INVENTARIO_Meta.sdcs
Sources/Db/Data/dbo.TIPI_UNITA_CARICO_Meta.sdcs
Sources/Db/Data/dbo.TIPO_LOG_Meta.sdcs
Sources/Db/Data/dbo.UDC_Meta.sdcs
Sources/Db/Data/simulazione.STRATEGIE_Meta.sdcs
Sources/Db/Data/stampe.FAMIGLIE_REPORT_Meta.sdcs
Sources/Db/Data/stampe.TIPI_REPORT_Meta.sdcs
Sources/Db/Data/stampe.TIPI_STAMPA_Meta.sdcs
*.cache
